<header aria-label="Site header" class="header" id="header" role="banner">
<div class="branding">
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ base_path ~ directory }}/images/logo.png" alt="{{ 'Home'|t }}" />
      </a>
    {% else %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    {% endif %}
  </div>
     {{ page.branding }}
     {{ page.navigation }}
     {{page.search}}

</header>

<section class="main" id="main">
   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>
   <aside class="right--sidebar" id="sidebar" role="complementary">
     {{ page.right_sidebar }}
   </aside>
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer--top">
     {{ page.footer }}
   </div>
</footer>